img {
  transform: rotate(85deg);
  position: relative;
  bottom: 65px;
  width: 4rem;
  transition: transform 0.07s linear;
}

.car {
  height: 12px;
  width: fit-content;
  transform: translate(0px, 0px);
}
